<header class="header">
  <div class="brand-navbar-wrapper">
    <div class="navbar-brand">
      Recipe Book
    </div>
    <nav class="navigation-container">
      <ul class="navigation">
        <li class="nav-item"><a class="nav-item-link" href="#" (click)="onSelect('recipe')">Recipes</a></li>
        <li class="nav-item"><a class="nav-item-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
      </ul>
    </nav>
  </div>
  <div class="manage">
    <p>Manage <span class="caret-down">&#x2023;</span></p>
  </div>

</header>
