<header class="header">
  <div class="brand-navbar-wrapper">
    <div class="navbar-brand">
      Recipe Book
    </div>
    <nav class="navigation-container">
      <ul class="navigation">
        <li class="nav-item"><a class="nav-item-link" routerLink="/recipes" routerLinkActive="active-link">Recipes</a></li>
        <li class="nav-item"><a class="nav-item-link" routerLink="/shopping-list" routerLinkActive="active-link">Shopping List</a></li>
      </ul>
    </nav>
  </div>
  <div class="manage">
<!--    <p>Manage <span class="caret-down">&#x2023;</span></p>-->
    <div class="dropdown manage-dropdown" appDropdown>
      <input class="btn do-not-focus dropdown-toggle"
              type="button" id="dropdownMenuButton"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" value="Manage Recipe">
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="onSaveData()">Save Data</a>
        <a class="dropdown-item" (click)="onFetchData()">Fetch Data</a>

      </div>
    </div>
  </div>

</header>
