<div class="recipe-edit-form">
  <form [formGroup]="newRecipeForm" (ngSubmit)="handleSubmit()">
    <div class="main-control-panel">
      <button type="submit" class="save-button btn btn-success">Save</button>
      <button type="reset" class="cancel-button btn btn-danger cancel-of-edit-recipe">Cancel</button>
    </div>
    <div class="name-of-recipe">
      <label for="name" class="recipe-edit-label">Name</label>
      <input type="text" id="name" class="form-control" name="name-of-recipe" formControlName="nameOfRecipe">
    </div>
    <div class="img-of-recipe">
      <label for="img-recipe" class="recipe-edit-label">Image URL</label>
      <input type="text" id="img-recipe" name="img-recipe-url" class="form-control" formControlName="urlOfNewRecipe">
    </div>
    <div class="desc-of-recipe">
      <label for="description" class="recipe-edit-label">Description</label>
      <textarea name="description" id="description" class="form-control" rows="5" formControlName="description"></textarea>
    </div>
    <div formArrayName="ingredients" >
      <div class="add-ingredients-field" *ngFor="let ingredientCtrl of newRecipeForm.controls.ingredients['controls'];
       let i = index" [formGroupName]="i">
        <input type="text" class="form-control" formControlName="nameOfIngredient">
        <input type="number" class="form-control amnt-of-ingredients" formControlName="amntOfIngredient">
        <button type="button" class="btn btn-danger">X</button>
      </div>
    </div>
  </form>
</div>
