.resipe-image {
  width: 100px;
  height: 100px;
}

.recipe-description-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 10px;
}

.recipe-description-wrapper:hover {
 background-color: aliceblue;
}
