<section class="shopping-editor">
  <form>
    <div class="create-delete-recipe-form">
      <div class="form-group name-input">
        <label for="name" class="label-of-name">Name</label>
        <input type="text" id="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="amount" class="label-of-amount">Amount</label>
        <input type="number" id="amount" class="form-control">
      </div>
    </div>
    <div class="button-options">
      <button class="btn btn-success" type="submit">Add</button>
      <button class="btn btn-danger delete-button" type="button">Delete</button>
      <button class="btn btn-primary" type="button">Clear</button>
    </div>
  </form>

</section>
